@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #efefef url(IMG_1038.jpg) fixed no-repeat center;
  background-size: cover;
  color: #333;
  font-family:'Ubuntu',sans-serif;
  font-size:13pt;
}

.main {
  background-color: rgba(255,255,255,0.85);
  box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
  border: 1px solid #e1e1e1;
  left: 5%;
  margin-bottom: 5%;
  padding: 30px 20px 5px;
  position:relative;
  top: 5%;

  @media screen and (max-width: 1024px) {
    & {
      width: 50%;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      max-width: 550px;
      min-width: 450px;
      width: 25%;
    }
  }
}

.photo {
  margin-bottom: 20px;
  text-align: center;

  .photocontainer {
    border: 6px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 250px;
    overflow: hidden;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    width: 250px;

    .mapcontainer {
      height: 250px;
      left: 0;
      position: absolute;
      top: 0;
      width: 250px;
    }

    .profileimg {
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: 0;
      }
    }
  }
}

.icons {
  p {
    text-align: center;

    a {
      color: #666;

      &:hover {
        color: #333;
      }

      &:after, &:before {
        font-size: 32px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.head {
  margin-bottom: 20px;
}

.left {

  @media screen and (max-width: 1024px) {
    & {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 48%;
      float:left;
      margin-right: 1%;
    }
  }
}

.name {
  font-size:40pt;
  font-weight:700;
}

.work {
  font-size:16pt;
}

.contact {
  font-size:13pt;
  line-height:1.4em;

  p {
    padding-left: 30px;

    &.img {
      padding-left: 0;
    }

    .title {
      margin-left: -15px;
    }
  }
}

.center {
  text-align:center;
}

.navy {
  color:navy;
}

.buttons {
  margin-top:1em;

  img {
    width:32px;
    height:32px;
    border:0;
    margin-top:1em;
  }
}

a {
  text-decoration:none;
  color:navy;
}

.foot {
  text-align: center;
  padding-top: 15px;

  a {
    text-transform: uppercase;
    color: #666;
    font-size: 10px;
    font-weight: 700;
  }
}

