@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  color: #333;
  font-family:'Ubuntu',sans-serif;
  font-size:7pt;
  background-color:#efefef;
}

#outer {height: 100%; overflow: hidden; position: relative; width: 100%;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 50%;} /* for quirk explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}

.main {
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.5);
  border: 1px solid #e1e1e1;
  width:920px;
  margin:20px auto;
  margin-bottom:0;
  position:relative;
  background-color:#fff;
  padding: 30px 20px;
}

.head {
  margin-bottom: 20px;
}

.left {
  width: 270px;
  float:left;
}

.bright {
  float:right;
  width: 32px;
  margin-left:60px;
}

.foot {
  width:100%;
  position:absolute;
  left:0;
  bottom:0;
  color:#aaa;
  margin:0 0 0.5em 0;
  padding:0;
  clear:both;
  display:none;
}

.foot a {
  color:#999;
  text-decoration:none;
}

.name {
  font-size:40pt;
  font-weight:700;
}

.work {
  font-size:16pt;
}

.contact {
  font-size:13pt;
  line-height:1.4em;
}

.profileimg {
  border-radius:10px;
}

.center {
  text-align:center;
}

.navy {
  color:navy;
}

.buttons {
  margin-top:1em;
}

.buttons img {
  width:32px;
  height:32px;
  border:0;
  margin-top:1em;
}

a {
  text-decoration:none;
  color:navy;
}

.media {
  border-top: 1px solid #666;
  clear: both;
  padding-top: 10px;
}

a.feed {
  border: 1px solid #ccc;
  color: #333;
  display: block;
  font-size: 12px;
  width: 220px;
  margin: 10px 4px 0 4px;
}

a.feed .content {
  background-color: #fff;
  padding: 5px;
}

a.feed .content p {
  margin-top: 0;
}

a.feed .content a {
  border: 0;
  color: navy;
}

a.feed .source {
  color: #fff;
  font-weight: 700;
  padding: 5px;
}

.twitter { background-color: #4EC2DC; }
.facebook { background-color: #3B5998; }
.googleplus { background-color: #2D2D2D; }
.rss { background-color: #FF9800; }
.foursquare { background-color: #A7E300; }
.instagram { background-color: #86837e; }
.goodreads { background-color: #e9e6d3; } .goodreads .source { color: #46311e !important; }
.imdb { background-color: rgb(227,187,0); } .imdb .source { color: #000 !important; }
.appnet { background-color: #cbccce; } .appnet .source { color: #4a484c !important; }
.eyeem { background-color: #111; } .eyeem .source { color: #888 !important; }
