@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  color: #333;
  font-family:'Ubuntu',sans-serif;
  font-size:7pt;
  background-color:#efefef;
}

#outer {height: 100%; overflow: hidden; position: relative; width: 100%;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 50%;} /* for quirk explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}

.main {
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.5);
  border: 1px solid #e1e1e1;
  width:920px;
  margin:20px auto;
  margin-bottom:0;
  position:relative;
  background-color:#fff;
  padding: 30px 20px 5px;
}

.head {
  margin-bottom: 20px;
}

.left {
  width: 270px;
  float:left;
}

.left2 {
  width: 540px;
  float: left;
}

.bright {
  float:right;
  width: 32px;
  margin-left:60px;
}

.name {
  font-size:40pt;
  font-weight:700;
}

.work {
  font-size:16pt;
}

.contact {
  font-size:13pt;
  line-height:1.4em;
}

.contact p {
  padding-left: 30px;
}

.contact p.img {
  padding-left: 0;
}

.contact p .title {
  margin-left: -15px;
}

.profileimg {
  border-radius:10px;
}

.center {
  text-align:center;
}

.navy {
  color:navy;
}

.buttons {
  margin-top:1em;
}

.buttons img {
  width:32px;
  height:32px;
  border:0;
  margin-top:1em;
}

a {
  text-decoration:none;
  color:navy;
}

.foot {
  text-align: center;
  padding-top: 15px;
}

.foot a {
  text-transform: uppercase;
  color: #666;
  font-size: 10px;
  font-weight: 700;
}
