<div id="messenger_overview">
    <table>
        <tbody>
            <tr><th colspan="2">Bevorzugte Messenger</th></tr>
            <tr>
                <td><strong>Threema:</strong></td>
                <td><a href="http://luzifer.github.io/qrdisplay/#3mid:SUBHVJYZ,ace04e6fb324ba708c89911de7763b48531e72d808a68cbc27ac22e13a451633" target="_blank">QRCode &ouml;ffnen</a></td>
            </tr>
            <tr><th colspan="2">Weitere Messenger</th></tr>
            <tr>
                <td><strong>Kik:</strong></td>
                <td>luziferus</td>
            </tr>
            <tr>
                <td><strong>LINE:</strong></td>
                <td>luziferus87</td>
            </tr>
            <tr>
                <td><strong>Snapchat:</strong></td>
                <td>luziferus</td>
            </tr>
            <tr>
                <td><strong>Telegram:</strong></td>
                <td>Via Handy-Nummer</td>
            </tr>
            <tr>
                <td><strong>TextSecure:</strong></td>
                <td>Via Handy-Nummer</td>
            </tr>
        </tbody>
    </table>
</div>