{% extends "global.html" %}

{% block content %}

      <div class="photo">
        <img src="//www.gravatar.com/avatar/a3bf0e7acc39439f771eee680193bec3?s=250" class="profileimg" height="250" width="250" />
      </div>
      <div class="head">
        <div class="name center"><span class="navy">K</span>nut <span class="navy">A</span>hlers</div>
        <div class="work center">Software-Entwickler, System- und Netzwerk-Administrator</div>
      </div>
      <div class="icons">
        <p>
          <a href="http://knut.in/facebook" title="Facebook-Profil aufrufen" class="flaticon-facebook1"></a>
          <a href="http://knut.in/foursquare" title="Foursquare-Profil aufrufen" class="flaticon-foursquare3"></a>
          <a href="http://knut.in/github" title="Github-Profil aufrufen" class="flaticon-github9"></a>
          <a rel="author" href="http://knut.in/+" title="Google+ Profil aufrufen" class="flaticon-google23"></a>
          <a href="http://knut.in/linkedin" title="LinkedIn-Profil aufrufen" class="flaticon-linkedin3"></a>
          <a href="http://knut.in/twitter" title="Twitter-Profil aufrufen" class="flaticon-social38"></a>
          <a href="http://blog.knut.me/" title="Knuts Blog aufrufen" class="flaticon-social68"></a>
        </p>
      </div>


          <div class="left">
            <div class="contact">
              <p>
                <em class="title">Telefon:</em><br />
                0157 - 757 366 14<br />
              </p>
              <p>
                <em class="title">Fax:</em><br />
                04103 - 96592039<br />
              </p>
              <p>
                <em class="title">Adresse:</em><br />
                Rissener Str. 39<br />
                22880 Wedel
              </p>
              <p>
                <em class="title">Android-Import:</em><br />
                <a href="http://luzifer.github.io/qrdisplay/#BEGIN:VCARD%0DN:Ahlers;Knut;;;%0DEMAIL;TYPE=INTERNET:knut@ahlers.me%0DTEL;TYPE=CELL:+4915775736614%0DADR;TYPE=HOME:;;Rissener Str. 39;Wedel;;22880;%0DTITLE:Software-Entwickler, System- und Netzwerk- Administrator%0DBDAY:1987-09-05%0Ditem1.URL:http://blog.knut.me%0DEND:VCARD" target="_blank">QRCode &ouml;ffnen</a>
              </p>
            </div>
          </div>
          <div class="left">
            <div class="contact">
              <p>
                <em class="title">E-Mail:</em><br />
                <a href="mailto:knut@ahlers.me">knut@ahlers.me</a>
              </p>
              <p>
                <em class="title">GPG-Key:</em><br />
                <a href="http://pgp.mit.edu:11371/pks/lookup?search=0xD34BE99E&amp;op=vindex" target="_blank" rel="nofollow">D34BE99E</a> (<a href="files/D34BE99E.asc">Download</a>)
              </p>
              <p>
                <em class="title">Threema:</em><br />
                <a href="http://luzifer.github.io/qrdisplay/#3mid:SUBHVJYZ,ace04e6fb324ba708c89911de7763b48531e72d808a68cbc27ac22e13a451633" target="_blank">QRCode &ouml;ffnen</a>
              </p>
              <p>
                <em class="title">Lebenslauf:</em><br />
                <a href="cv.pdf">Download</a>
              </p>
            </div>
          </div>
{% endblock %}

{% block footer %}
<a href="impressum.html">Impressum</a>
{% endblock %}
