{% extends "global.html" %}

{% block content %}
          <div class="left">
            <div class="contact">
              <p>
                <em class="title">Adresse:</em><br />
                Rissener Str. 39<br />
                22880 Wedel
              </p>
              <p>
                <em class="title">Telefon:</em><br />
                0157 - 757 366 14<br />
              </p>
              <p>
                <em class="title">Fax:</em><br />
                04103 - 96592039<br />
              </p>
            </div>
          </div>
          <div class="left">
            <div class="contact">
              <p>
                <em class="title">E-Mail:</em><br />
                <a href="mailto:knut@ahlers.me">knut@ahlers.me</a>
              </p>
              <p>
                <em class="title">GPG-Key:</em><br />
                <a href="http://pgp.mit.edu:11371/pks/lookup?search=0x333AF244&amp;op=vindex" target="_blank" rel="nofollow">0x333AF244</a> (<a href="333AF244.asc">Download</a>)
              </p>
              <p>
                <em class="title">URLs:</em><br />
                <a href="http://blog.knut.me/">Knuts Blog</a>
              </p>
            </div>
          </div>
{% endblock %}

{% block footer %}
{% endblock %}
