{% extends "global.html" %}

{% block content %}
  <div class="left2">
    <div class="contact">
      <p>
        <em class="title">Angaben zum Betreiber nach § 5 TMG:</em><br />
        Knut Ahlers<br />
        Rissener Str. 39<br />
        22880 Wedel<br />
        <br />
        Tel.: +49 (0) 157 757 366 14<br />
        Fax: +49 (0) 4103 9659203 9<br />
        <br />
        E-Mail: knut@ahlers.me<br />
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <a href="/">Home</a>
{% endblock %}
